<.header>Welcome to the Sphinx Quiz Tool</.header>

<.form for={%{}} action={~p"/session"}>
  <p>Log in</p>
  <div class="p-4">
    <label>
      Name: 
      <input type="text" name="name" />
    </label>
  </div>
  <div class="p-4">
    <.button>Login</.button>
  </div>
</.form>
 
