<.header>
  Question <%= @question.id %>
  <:subtitle>This is a question record from your database.</:subtitle>
  <:actions>
    <.link href={~p"/questions/#{@question}/edit"}>
      <.button>Edit question</.button>
    </.link>
  </:actions>
</.header>

<.list>
  <:item title="Quiz"><.link href={~p"/quizzes/#{@question.quiz_id}"}>Quiz</.link></:item>
  <:item title="Prompt"><%= @question.prompt %></:item>
  <:item title="Answer"><%= @question.answer %></:item>
</.list>

<.back navigate={~p"/questions"}>Back to questions</.back>
